@model CourseSelectionMCV.Models.CreditRequirements

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CreditRequirements</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectiveMajor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectiveMajor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectiveMinor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectiveMinor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralHumanities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralHumanities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralSocialSciences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralSocialSciences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralArts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralArts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralSciences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralSciences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralSelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralSelf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralBiomedical)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralBiomedical)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralDiversity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralDiversity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnglishCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnglishCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalFitness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalFitness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalSwimming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalSwimming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
